<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
  <!-- <ul class="list-group">

    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
      <small>MAIN MENU</small>
    </li>

    <a routerLink="dashboard" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span>
        <span class="menu-collapsed">Dashboard</span>
      </div>
    </a>

    <a routerLink="projectconfiguration" class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-gear fa-fw mr-3"></span>
        <span class="menu-collapsed">Configuracion</span>
      </div>
    </a>


    <a href="#submenu1" data-toggle="collapse" aria-expanded="false"
      class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span>
        <span class="menu-collapsed">Catalogos</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a>
    <div id='submenu1' class="collapse sidebar-submenu">
      <a href="#" class="list-group-item list-group-item-action">
        <span class="menu-collapsed">Users</span>
      </a>
    </div>

  </ul> -->


  <dx-drawer #drawer openedStateMode="shirk" position="left" revealMode="expand" [(opened)]="openedStatus"
    [closeOnOutsideClick]="false" template="template" [height]="500" [width]="200">
    <div *dxTemplate="let data of 'template'">
      <dx-list class="panel-list" [dataSource]="navigation"
        [hoverStateEnabled]="false" [activeStateEnabled]="false" [focusStateEnabled]="false">
        <div id="content" class="dx-theme-background-color"></div>
      </dx-list>
    </div>
  </dx-drawer>

</div>
