<div class="wrapper text-center">

  <div class="card form-signin">
    <div class="card-body">
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onLogin($event)">
        <h1 class="h3 mb-3 font-weight-normal">Log in</h1>

        <input type="email" class="form-control" placeholder="Email address" formControlName="user" required autofocus>
        <input type="password" class="form-control" placeholder="Password" formControlName="pass" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!loginForm.valid">Sign in</button>
        <p class="mt-5 mb-3 text-muted">MapacheSolutions &copy; 2020</p>
      </form>
    
    </div>
  </div>
  
  



</div>