<app-layout-without-sidebar>
  <div class="container mt-3">
    <div class="table-actions mb-1">
      <button type="button" class="btn btn-outline-primary float-right" (click)="openProjectModal()"> <i
          class="fa fa-plus"></i>
        Agregar proyecto
      </button>
    </div>
    <div class="page-summary">
      <h4>Lista de projectos</h4>
      <p>
        Esta lista contiene todos los projectos de costos unitarios que has creado
      </p>
    </div>
    <div class="project-list-container">
      <app-list [projects]="projects" (rowSelected)="onRowSelected($event)"></app-list>
    </div>

  </div>
</app-layout-without-sidebar>
